:root {
    --vp-c-brand: #1e50a2;
    --vp-c-brand-light: #5a79ba;
    --vp-c-green-lighter: #5a79ba;
    --vp-c-brand-dark: var(--vp-c-brand-light);
    --vp-c-brand-darker: var(--vp-c-brand-light);
  }